/******************* MOVIL *******************/


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h1"
        "d1"
        "d2"
        "d3"
        "d4";
}


main div#carrousel {
    grid-area: d1;
    width: 80%;
    margin: 0 auto;
}

main div#carrousel div.pa-carousel-widget{
    height: 350px;
}

main div#calendario {
    grid-area: d3;
    width: 80%;
    margin: 0 auto;
}

main div#mapa{
    grid-area: d4;
    width: 80%;
    margin: 0 auto;
}


main div#carrousel *,
div#calendario *, div#mapa iframe{
    margin-top: 3rem;
    border-radius: 0.5rem;
    border: 1.5px solid white;
}

div#calendario *{
    margin-top: 1rem;
}

main div#info{
    grid-area: d2;
    text-align: center;
}

main div h2{
    margin-top: 2rem;
}
/********************************TABLET / PC*******************************/

@media (min-width: 768px) {


    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "h1 h1"
                             "d2 d1"
                             "d3 d4";
    }

    main div#calendario *{
        margin-top: 3rem;
    }
    main div#carrousel div.pa-carousel-widget{
        height: 600px;
    }
    
}