
/**************** MOVIL *******************/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h1"
        "d1"
        "d2"
        "d3";
}

main div#carrousel {
    grid-area: d1;
    width: 80%;
    margin: 0 auto;
}

main div#video {
    grid-area: d4;
    display: none;
}

main div#carrousel * {
    margin-top: 3rem;
    border-radius: 0.5rem;
    border: 1.5px solid white;
}

main div#presentacion {
    grid-area: d2;
    text-align: center;
    margin-top: 10vw;
}

main div#historia {
    grid-area: d3;
    text-align: center;
    margin-top: 10vw;
}

/********************************TABLET / PC*******************************/

@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "h1 h1"
            "d2 d1"
            "d3 d4";
    }

    main div#video {
        grid-area: d4;
        display: block;
        margin: 0 auto;
        margin-top: 5rem;
        width: 80%;
    }

    main div#video iframe {
        border-radius: 0.5rem;
        border: 1.5px solid white;
    }

}