/**************** MOVIL *******************/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h1"
        "d1"
        "d2"
        "d3";
}


main>h1 {
    grid-area: h1;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.15em;
    font-size: 2rem;
}

main div {
    text-align: center;
    margin-top: 3rem;
}

main div p {
    letter-spacing: 0.1em;
    padding: 1.5em;
}

main div h2{
    margin: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 1.5rem;
}

main div#d1 {
    grid-area: d1;
}

main div#d2 {
    grid-area: d2;
    width: 80%;
    margin: 0 auto;
    
}

main div#d2 iframe{
    border-radius: 0.5rem;
    border: 1.5px solid white;
}

main div#d3 {
    grid-area: d3;
}

main div#d3 form *{
    letter-spacing: 0.1em;
    margin-top: 1rem;
    font-weight: bold;
}

main div#d3 form button{
    background-color: black;
    color: #A57D17;
    padding: 0.5rem;
    border: 2px solid #A57D17;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

main div#d3 form button:hover {
    background-color: #644D11;
    color: black;
    border: 2px solid black;
    transition: all 0.3s ease;
}




/********************************TABLET / PC*******************************/

@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "h1 h1"
            "d1 d3"
            "d2 d3";
    }

    main h1 {
        font-size: 1.75rem;
    }

    main div#d1 {
        margin-top: 3rem;
    }

    main div p {
        letter-spacing: 0.1em;
        font-size: 20px;
    }

    main div h2 {
        margin: 0.1rem;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 1rem;
    }

}