/**************** MOVIL *******************/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h1"
        "d1"
        "d2"
        "d3";
}
main div {
    text-align: center;
    margin-top: 3rem;
}

main div#d1 {
    grid-area: d1;
}

main div#d2 {
    grid-area: d2;
    width: 80%;
    margin: 0 auto;
    
}

main div#d2 iframe{
    border-radius: 0.5rem;
    border: 1.5px solid white;
}

main div#d3 {
    grid-area: d3;
    margin-top: 2rem;
}
main div#d3 form{
    display: flex;
    flex-direction: column;
}


main div#d3 form *:not(button){
    letter-spacing: 0.1em;
    margin: 0.5rem auto;
    font-weight: bold;
    width: 80%;
}

main div#d3 form input{
    padding: 0.5rem;
}

main div#d3 form button{
    margin: 0 auto;
    width: 20%;
}

main div#d3 form button{
    margin-top: 1rem;
    background-color: black;
    color: #A57D17;
    padding: 0.5rem;
    border: 2px solid #A57D17;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

main div#d3 form button:hover {
    background-color: #644D11;
    color: black;
    border: 2px solid black;
    transition: all 0.3s ease;
}




/********************************TABLET / PC*******************************/

@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "h1 h1"
            "d1 d3"
            "d2 d3";
    }
    
    main div#d1 {
        margin-top: 2rem;
    }

     main div#d3 *:not(h2):not(button){
        text-align: left;
    } 

    main div#d3 h2{
        margin-bottom: 1rem;
    }

    main div#d3 form label{
        font-size: 0.5em;
        margin: 0 auto;
    }

    main div#d3 form button{
        padding: 0.5em;
        font-size: 0.5em;
    }

    main div#d3 form input{
        padding: 0.5em;
        font-size: 20px;
    }
    
}